h3 {
    color: black;
    size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.namestore {
    color: blue;
}
/*Рамка вокрук фото товара*/
img[alt="phone"],img[alt="phone1"] {
    outline: none;
}

img[alt="phone"]:hover,img[alt="phone1"]:hover {
    outline: 3px solid #3e59cc;
}

.first {
    color: #707070;
    size: 14px;
    font-style: italic;
    line-height: 16px;
}

.seconde {
    color: #484343;
    size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.list li {
    list-style-type: none;
    list-style-image: url("../img/list-style-image.png");
    color: cadetblue;
}

.list > li {
    width: 100px;
    height: 30px;
}

 a {
    text-decoration: none;
}

h2, h3, .heading {
    text-align: center;
}

body {
    background-color: #f8f8f8;
}
/*Меню*/
.menu li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu li {
    width: 100px;
    height: 40px;
    list-style-type: none;
    border: 1px solid #000;
    text-align: center;
}

.menu li a {
    color: #8B00FF;
    size: 25px;
}

.menu li a:hover {
    color: #1896FF;
}
.menu li a:active{
    color: red;
}
.menu .new:after{
    content: " new";
    color: blue;
    text-transform: uppercase;
}
a {
    color: cornflowerblue;
    list-style-type: armenian;
    size: 20px;
}

a:hover {
    color: #3e59cc;
}
/*Поля "Напишите нам"*/
.email:focus{
    color: #7a4110;
    background-color: #e1f6c8;
}
form input {
    text-transform: capitalize;
}
.email{
    text-transform: none;
}
/*Таблица харктеристик*/
table{
    border: 1px solid #000000;
    border-collapse: collapse;
}
table td{
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
}