* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.сlearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

/*Блок 1*/
.slider {
    height: 800px;
    background-image: url("img/slider-img.jpg");
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
    text-decoration: none;
    padding: 10px 13px;
}

.slider-text {
    margin-top: 283px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 58px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.71;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 2px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    letter-spacing: 3.6px;
    display: inline-block;
    margin-top: 16px;
}

.button img[alt="arrow"] {
    margin-left: 20px;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    border-radius: 50%;
    margin-bottom: 0;
}

.circle:hover {
    background-color: #212121;
}

/*Блок 2*/
.featured {
    margin-top: 120px;
}

/*Меню*/
.f-header {
    height: 49px;
}

.f-menu-link {
    text-decoration: none;
    color: #8c8c8c;
    padding: 14px 22px;
    border-bottom: 1px solid #8c8c8c;
    padding-left: 11px;
}
.f-menu-link:hover{
    color: #212121;
    border-bottom-color: #212121;
}

.f-menu-link-active {
    color: #212121;
    border-bottom: 5px solid #212121;
    text-decoration: none;
    padding: 10px 13px;
}

.f-menu-list:nth-child(n) {
    margin-left: 16px;
}

.f-menu-list:nth-child(1) {
    margin-left: 0px;
}

.f-menu-list {
    width: 180px;
    height: 27px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    color: #6c6c6c;
    float: left;
    list-style-type: none;
}

/*Кнопка перехода далее*/
.explore {
    width: 190px;
    height: 16px;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #212121;
    float: right;
    margin-top: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

/*Продукты*/
.f-products {
    margin-top: 60px;
    margin-bottom: 120px;
}

.f-product:nth-child(n) {
    margin-left: 25px;
}

.f-product:nth-child(1) {
    margin-left: 0px;
}

/*Меню над фото*/

/*Кнопка*/
.f-product-case-circle {
    width: 48px;
    height: 48px;
    box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.f-product-case-circle img {
    margin: 15px 18px;
}

.f-product-case-h2 {
    width: 145px;
    height: 17px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.36;
    color: #212121;
}

.f-product-case-text {
    width: 206px;
    height: 33px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.57;
    color: #6c6c6c;
}

.f-products {
    clear: both;
}

.f-product-case {
    display: none;
}

/* Попытка сделать затемнение при наведении
.f-product-active {

}

.f-product-active:hover {
    content: '';

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 0;
}
*/
/*Блок2*/
.exclusive-text1, .exclusive-text2 {
    width: 683px;
    height: 683px;
    object-fit: contain;
    text-decoration: none;
    list-style-type: none;
    float: left;
}

.exclusive-text1 {
    background-image: url("img/promo-img-1.jpg");
}

.exclusive-text2 {
    background-image: url("img/promo-img.jpg");
}

.exclusive-header {
    margin-top: 228px;
}

.exclusive-header, .exclusive-h2, .exclusive-content, .ex-button {
    margin-left: 52px;
}

.exclusive-header {
    width: 120px;
    height: 18px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #1e88e5;
}

.exclusive-h2 {
    width: 252px;
    height: 35px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    color: #212121;
    margin-top: 18px;
}

.exclusive-content {
    width: 382px;
    height: 39px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: left;
    color: #565656;
    margin-top: 24px;
}

.ex-button {
    margin-top: 34px;
}

/*Блок 4*/
.trending-products-h2 {
    width: 352px;
    height: 42px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    color: #212121;
    clear: both;
    float: left;
}

.trending-products-h2, .explore2 {
    margin-top: 119px;
}

.trending-products-img {
    clear: both;
}

.tp-iblock1 {
    margin-top: 64px;
}

.tp-iblock2 {
    margin-top: 30px;
    margin-bottom: 120px;
}

.tp-iblock1:nth-child(n+1), .tp-iblock2:nth-child(n+1) {
    margin-left: 30px;
}

.trending-products-img {
    margin-left: 58px;
}
/*Блок 5*/
.slider2 {
    height: 800px;
    background-image: url("img/slider.jpg");
    position: relative;
}
.slider2-trending{
    width: 112px;
    height: 17px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #e53935;
    text-transform: uppercase;
}
