*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.header{
    height: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__left{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.form{
    display: flex;
    align-items: center;
    margin-left: 37px;
}
.header__right{
    display: flex;
    align-items: center;
}
.logo__img{
    margin-right: 13px;
}
.cart{
    margin-right: 26px;
}
.menu{
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu li{
    padding: 20px;
    display: block;
}
.menu__link{
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
}
.promo{
    height: 614px;
    background-color: #e8e8e8;
}
.promo__content{
    height: 100%;
    background-image: url("img/promo.jpg");
    background-position: 0 -51px;
}
.promo__text{
    font-size: 40px;
    font-weight: 400;
    color: #222;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
    line-height: 30px;
    margin-top: 224px;
    float: left;
}
.offer__content__big{
    width: 560px;
    height: 542px;
    background-color: #ccc;

}
.offer__content__mini{
    width: 560px;
    height: 261px;
    background-color: #eee;
}
.offer{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.offer__content div:first-child{
    margin-bottom: 20px;
}
.offer__text{
    background-color: #fff;
    padding: 16px 20px;
    float: left;
    text-transform: uppercase;
    margin-top: 26px;
}