* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Merriweather Sans", sans-serif; }

.container {
  margin-left: 20px;
  margin-right: 20px; }

.header {
  height: 280px; }
  .header a {
    font-size: 11px;
    color: #7e7e7e;
    text-decoration: none;
    text-transform: uppercase; }
  .header__nav {
    height: 27px;
    min-width: 320px;
    background-color: #f6f6f6; }
    .header__nav__account {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 7px; }
  .header__nav2 {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-left: 64px;
    margin-right: 78px; }
    .header__nav2 img {
      margin-bottom: 2px;
      margin-left: 4px; }
  .header__logo {
    margin-top: 34px; }
    .header__logo a {
      display: flex;
      justify-content: center; }
    .header__logo img {
      height: 41px;
      width: 48px;
      margin-right: 11px; }
    .header__logo h1 {
      font-size: 44px;
      color: #454545; }
  .header__sing {
    display: flex;
    justify-content: center;
    margin-top: 17px; }
  .header__input {
    margin-top: 22px;
    display: flex;
    justify-content: center; }
    .header__input input {
      height: 38px;
      width: 280px;
      border: solid 1px #e1e1e1;
      color: #888;
      padding-left: 11px;
      padding-right: 38px;
      box-sizing: border-box;
      position: relative; }
    .header__input img {
      width: 16px;
      height: 16px;
      position: absolute;
      margin-left: 230px;
      margin-top: 11px; }
  .header__nav3 {
    display: flex;
    justify-content: space-between;
    margin-top: 22px; }
    .header__nav3__menu img:first-of-type {
      height: 13px;
      width: 16px;
      margin-right: 10px; }
    .header__nav3__menu img:nth-of-type(2) {
      height: 12px;
      width: 94px; }
    .header__nav3__cart a {
      display: flex; }
    .header__nav3__cart img {
      height: 18px;
      width: 24px;
      margin-right: 9px; }
    .header__nav3__cart p {
      color: #565656;
      font-size: 16px; }

.content {
  margin-top: 17px;
  background-color: #ccc; }
  .content__pay {
    background-color: #cccccc;
    height: 178px;
    min-width: 320px;
    display: flex;
    justify-content: center; }
    .content__pay a {
      text-decoration: none; }
    .content__pay__border {
      border: solid 1px rgba(255, 255, 255, 0.3);
      height: 140px;
      min-width: 300px;
      top: 19px;
      box-sizing: border-box;
      margin-left: 10px;
      margin-top: 19px; }
      .content__pay__border h1, .content__pay__border h2, .content__pay__border h3 {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .content__pay__border h1 {
        font-size: 34px;
        margin-top: 28px; }
      .content__pay__border h2 {
        font-size: 14px;
        margin-top: 8px; }
      .content__pay__border h3 {
        font-size: 11px;
        margin-top: 8px; }
  .content__posters {
    height: 1753px;
    background-color: #f3f3f3;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px; }
    .content__posters__ex {
      min-width: 280px;
      height: 156px;
      background-color: #ccc;
      display: flex;
      justify-content: center; }
      .content__posters__ex a {
        text-decoration: none;
        color: #fff; }
      .content__posters__ex__border {
        border: solid 1px rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        width: 260px;
        height: 112px;
        top: 12px;
        left: 10px;
        margin-top: 12px; }
        .content__posters__ex__border h1 {
          font-size: 21px;
          margin-top: 30px;
          text-align: center; }
        .content__posters__ex__border h2 {
          font-size: 15px;
          text-align: center;
          font-weight: normal; }
      .content__posters__ex h3 {
        font-size: 12px;
        text-align: center; }
    .content__posters__hot {
      width: 280px; }

/*# sourceMappingURL=style.css.map */
