* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Merriweather Sans", sans-serif; }

.container {
  margin-left: 20px;
  margin-right: 20px; }

.header {
  height: 280px; }
  .header a {
    font-size: 11px;
    color: #7e7e7e;
    text-decoration: none;
    text-transform: uppercase; }
  .header__nav {
    height: 27px;
    min-width: 320px;
    background-color: #f6f6f6; }
    .header__nav__account {
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 7px; }
      .header__nav__account__main {
        display: flex;
        justify-content: space-between; }
        .header__nav__account__main a:nth-of-type(5) {
          display: none; }
        .header__nav__account__main a:nth-of-type(4) {
          display: none; }
      .header__nav__account__other {
        display: none; }
        .header__nav__account__other img {
          margin-bottom: 3px;
          margin-left: 3px; }
  .header__nav2 {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-left: 64px;
    margin-right: 78px; }
    .header__nav2 img {
      margin-bottom: 2px;
      margin-left: 4px; }
  .header__face__logo {
    margin-top: 34px; }
    .header__face__logo a {
      display: flex;
      justify-content: center; }
    .header__face__logo img {
      height: 41px;
      width: 48px;
      margin-right: 11px; }
    .header__face__logo h1 {
      font-size: 44px;
      color: #454545; }
  .header__face__sing {
    display: flex;
    justify-content: center;
    margin-top: 17px; }
  .header__face__input {
    margin-top: 22px;
    display: flex;
    justify-content: center; }
    .header__face__input input {
      height: 38px;
      width: 280px;
      border: solid 1px #e1e1e1;
      color: #888;
      padding-left: 11px;
      padding-right: 38px;
      box-sizing: border-box;
      position: relative; }
    .header__face__input img {
      width: 16px;
      height: 16px;
      position: absolute;
      margin-left: 230px;
      margin-top: 11px; }
  .header__nav3 {
    display: flex;
    justify-content: space-between;
    margin-top: 22px; }
    .header__nav3__menu img:first-of-type {
      height: 13px;
      width: 16px;
      margin-right: 10px; }
    .header__nav3__menu img:nth-of-type(2) {
      height: 12px;
      width: 94px; }
    .header__nav3__cart a {
      display: flex; }
    .header__nav3__cart img {
      height: 18px;
      width: 24px;
      margin-right: 9px; }
    .header__nav3__cart p {
      color: #565656;
      font-size: 16px; }
    .header__nav3__full {
      display: none; }
      .header__nav3__full a {
        font-size: 14px;
        font-weight: bold;
        color: #565656; }

.content {
  margin-top: 17px;
  background-color: #ccc; }
  .content__pay {
    background-color: #cccccc;
    height: 178px;
    min-width: 320px;
    display: flex;
    justify-content: center; }
    .content__pay a {
      text-decoration: none; }
    .content__pay__border {
      border: solid 1px rgba(255, 255, 255, 0.3);
      height: 140px;
      min-width: 300px;
      top: 19px;
      box-sizing: border-box;
      margin-top: 19px; }
      .content__pay__border h1, .content__pay__border h2, .content__pay__border h3 {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
      .content__pay__border h1 {
        font-size: 34px;
        margin-top: 28px; }
      .content__pay__border h2 {
        font-size: 14px;
        margin-top: 8px; }
      .content__pay__border h3 {
        font-size: 11px;
        margin-top: 8px; }
  .content__slider {
    height: 428px;
    position: relative;
    display: none; }
    .content__slider h1 {
      font-size: 22px;
      font-weight: bold;
      color: #555;
      text-transform: uppercase;
      padding-top: 70px;
      line-height: 1.57;
      margin-left: 300px; }
    .content__slider h2 {
      font-size: 74.5px;
      font-weight: 800;
      color: #fff;
      text-transform: uppercase;
      margin-top: 16px;
      line-height: 0.82;
      margin-left: 300px; }
    .content__slider h3 {
      font-size: 26px;
      font-weight: bold;
      color: #4c4c4c;
      text-transform: uppercase;
      line-height: 0.96;
      margin-top: 14px;
      margin-bottom: 20px;
      margin-left: 300px; }
    .content__slider h4 {
      font-size: 14.5px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.45;
      margin-left: 300px; }
      .content__slider h4 a {
        text-decoration: none;
        color: #333; }
    .content__slider .content__posters__lookbook__buttons {
      display: none; }
    .content__slider__arrow {
      border: solid 3px #fff;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      position: absolute;
      top: 180px;
      left: 22px; }
      .content__slider__arrow:last-of-type {
        right: 22px !important;
        left: auto; }
      .content__slider__arrow img {
        width: 12px;
        height: 18px;
        margin-top: 5px; }
  .content__posters {
    padding-bottom: 20px;
    background-color: #f3f3f3;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px; }
    .content__posters__ex {
      min-width: 280px;
      height: 156px;
      background-color: #ccc;
      display: flex;
      justify-content: center;
      position: relative; }
      .content__posters__ex__arrow {
        display: none;
        border: solid 2px #fff;
        width: 39px;
        height: 38px;
        box-sizing: border-box;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 112px; }
        .content__posters__ex__arrow:last-of-type {
          right: 15px; }
        .content__posters__ex__arrow:first-of-type {
          left: 15px; }
        .content__posters__ex__arrow img {
          height: 14px;
          width: 10px;
          margin-top: 6px; }
      .content__posters__ex a {
        text-decoration: none;
        color: #fff; }
      .content__posters__ex__border {
        border: solid 1px rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        width: 260px;
        height: 112px;
        margin-top: 12px;
        position: relative; }
        .content__posters__ex__border h1 {
          font-size: 21px;
          margin-top: 30px;
          text-align: center; }
        .content__posters__ex__border h2 {
          font-size: 15px;
          text-align: center;
          font-weight: normal; }
        .content__posters__ex__border__line {
          width: 65px;
          height: 2px;
          background-color: #fff;
          position: absolute;
          top: 55px;
          display: none; }
          .content__posters__ex__border__line:first-of-type {
            left: 16px; }
          .content__posters__ex__border__line:last-of-type {
            right: 16px; }
      .content__posters__ex h3 {
        font-size: 12px;
        text-align: center;
        margin-top: 5px; }
        .content__posters__ex h3 h1 {
          background-color: #fff; }
    .content__posters__hot {
      position: relative;
      min-width: 280px;
      height: 537px;
      background-color: #ccc;
      margin-top: 10px; }
      .content__posters__hot a {
        color: #2f2f2f;
        text-decoration: none;
        font-weight: bold;
        text-align: center; }
        .content__posters__hot a h4 {
          font-size: 14px;
          text-transform: lowercase;
          padding-top: 29px; }
        .content__posters__hot a h1 {
          font-size: 21px;
          font-weight: 800;
          margin-top: 11px; }
        .content__posters__hot a h3 {
          font-size: 16px;
          margin-top: 29px; }
        .content__posters__hot a h2 {
          font-size: 14.5px;
          color: #fff;
          margin-top: 366px; }
      .content__posters__hot__line {
        position: absolute;
        top: 86px;
        right: -4px;
        width: 50px;
        height: 1px;
        background-color: #333; }
        .content__posters__hot__line:first-of-type {
          display: none; }
    .content__posters__jewelry {
      min-width: 280px;
      height: 189px;
      background-color: #cccccc;
      margin-top: 10px; }
      .content__posters__jewelry a {
        text-decoration: none;
        color: #fff;
        text-align: center; }
        .content__posters__jewelry a h1 {
          font-size: 35px;
          font-weight: bold;
          padding-top: 45px; }
        .content__posters__jewelry a h2 {
          font-size: 20px;
          font-weight: bold;
          margin-top: 3px; }
        .content__posters__jewelry a h3 {
          font-size: 15px;
          font-weight: bold;
          margin-top: 38px; }
    .content__posters__accessories {
      background-color: #cccccc;
      min-width: 280px;
      height: 189px;
      margin-top: 10px;
      position: relative; }
      .content__posters__accessories a {
        text-decoration: none;
        color: #fff;
        text-align: center; }
        .content__posters__accessories a h1 {
          font-size: 25px;
          font-weight: 800;
          padding-top: 50px; }
        .content__posters__accessories a h2 {
          font-size: 21px;
          margin-top: 8px;
          font-weight: 500; }
        .content__posters__accessories a h3 {
          font-size: 15px;
          font-weight: bold;
          margin-top: 35px; }
      .content__posters__accessories__line {
        position: absolute;
        background-color: #fff;
        width: 42px;
        height: 2px;
        top: 76px; }
    .content__posters__lookbook {
      position: relative;
      min-width: 280px;
      height: 401px;
      background-color: #cccccc;
      margin-top: 12px; }
      .content__posters__lookbook a {
        text-decoration: none;
        color: #fff;
        text-align: center; }
        .content__posters__lookbook a h1 {
          font-size: 35px;
          font-weight: bold;
          padding-top: 122px; }
        .content__posters__lookbook a h2 {
          font-size: 18px;
          font-weight: bold;
          margin-top: 8px; }
        .content__posters__lookbook a h3 {
          font-size: 30px;
          font-weight: bold;
          margin-top: 19px; }
        .content__posters__lookbook a h4 {
          font-size: 15px;
          font-weight: bold;
          margin-top: 78px; }
      .content__posters__lookbook__line {
        top: 183px;
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff; }
      .content__posters__lookbook__buttons {
        display: flex;
        align-items: center;
        justify-content: center; }
        .content__posters__lookbook__buttons__button {
          border: solid 2px #fff;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-top: 20px;
          margin-left: 12px; }
          .content__posters__lookbook__buttons__button:hover {
            background-color: #fff; }
          .content__posters__lookbook__buttons__button:first-child {
            margin-left: 0; }
    .content__posters__news {
      min-width: 280px;
      height: 189px;
      background-color: #cccccc;
      margin-top: 10px; }
      .content__posters__news a {
        text-decoration: none;
        color: #fff;
        text-align: center; }
        .content__posters__news a h1 {
          font-size: 28px;
          font-weight: bold;
          padding-top: 73px; }

.first {
  left: 10px; }
  .first__1 {
    left: 23px; }

.second {
  right: 10px; }
  .second__1 {
    right: 23px; }

.products {
  background-color: #ffffff;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 29px; }
  .products__nav {
    text-align: center;
    margin-top: 30px; }
    .products__nav div {
      margin-top: 13px; }
      .products__nav div a {
        text-decoration: none;
        color: #999;
        text-transform: uppercase;
        font-weight: bold; }
        .products__nav div a:hover {
          color: #444444; }
    .products__nav__active {
      color: #444444 !important;
      border-bottom: #444444 2px solid;
      padding-bottom: 5px; }
      .products__nav__active__div {
        margin-bottom: 23px; }
  .products__product {
    align-items: center;
    margin-bottom: 50px;
    height: 479px;
    width: 280px;
    margin-right: 10px; }
    .products__product:last-of-type {
      display: none; }
    .products__product a {
      text-decoration: none;
      color: #222; }
      .products__product a img {
        width: 88px;
        height: 15px;
        margin-top: 5px; }
    .products__product__img {
      position: relative;
      display: flex;
      width: 280px;
      height: 364px;
      background-color: #cccccc; }
      .products__product__img__black, .products__product__img__blue, .products__product__img__red {
        width: 25px;
        height: 25px;
        border: solid 1px #555;
        box-shadow: inset 0 0 0 1px #fff;
        box-sizing: border-box;
        margin-top: 329px;
        margin-left: 10px; }
      .products__product__img__black {
        background-color: #0e0c0f; }
      .products__product__img__blue {
        background-color: #202a4e; }
      .products__product__img__red {
        background-color: #923349; }
      .products__product__img img {
        width: 95px !important;
        height: 40px !important;
        position: absolute;
        left: -8px; }
    .products__product__name {
      margin-top: 24px;
      display: flex;
      width: 280px;
      justify-content: space-between; }
      .products__product__name p {
        font-size: 13px;
        line-height: 1.46;
        color: #444; }
      .products__product__name h3 {
        font-size: 15px;
        font-weight: bold; }
      .products__product__name__price__sale {
        color: #999; }
    .products__product__buttons {
      width: 280px;
      height: 34px;
      border: 2px solid #444;
      display: flex;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      justify-content: center;
      margin-top: 13px;
      box-sizing: border-box; }
      .products__product__buttons a {
        margin-top: 8px; }
      .products__product__buttons__line {
        width: 2px;
        height: 16px;
        background-color: #444;
        margin-top: 9px;
        margin-left: 24px;
        margin-right: 28px; }
    .products__product__add {
      display: flex;
      justify-content: space-between;
      font-style: italic;
      color: #333;
      font-size: 13px;
      width: 280px;
      margin-top: 8px; }
  .products__more {
    display: flex;
    justify-content: center;
    margin-bottom: 80px; }
    .products__more a {
      text-decoration: none;
      color: #555;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      margin-left: 20px;
      margin-right: 20px; }
    .products__more__line {
      width: 75px;
      height: 1px;
      background-color: #ddd;
      margin-top: 8px; }

.clr {
  height: 4355px;
  background-color: #1f1f1f; }

.footer {
  min-width: 280px;
  margin-top: -4355px;
  background-color: #1f1f1f; }
  .footer__about {
    margin-top: 50px;
    border-bottom: 1px dashed #484848;
    padding-bottom: 40px; }
    .footer__about__nav a {
      font-size: 16px;
      color: #b6b6b6;
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 10px; }
    .footer__about__content {
      margin-top: 30px; }
      .footer__about__content__img {
        height: 120px;
        width: 120px;
        background-color: #ccc;
        flex-shrink: 0;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px; }
      .footer__about__content p {
        color: #888;
        font-size: 14px;
        line-height: 1.43;
        margin-bottom: 17px; }
      .footer__about__content a {
        font-size: 12px;
        font-weight: bold;
        color: #b6b6b6;
        text-transform: uppercase;
        text-decoration: none; }
        .footer__about__content a img {
          width: 5px;
          height: 9px;
          margin-left: 5px; }
  .footer__blog {
    border-bottom: 1px dashed #484848;
    padding-bottom: 40px;
    margin-bottom: 40px; }
    .footer__blog__nav {
      display: flex;
      justify-content: space-between;
      margin-top: 40px; }
      .footer__blog__nav a {
        word-spacing: 10px; }
      .footer__blog__nav img {
        width: 5px;
        height: 9px;
        border: #999999 solid 1px;
        border-radius: 50%;
        padding: 4px 6px; }
        .footer__blog__nav img:first-child {
          margin-right: 2px; }
    .footer__blog__posters {
      display: flex; }
      .footer__blog__posters__post2 {
        display: none; }
    .footer__blog__img {
      min-width: 280px;
      height: 205px;
      background-color: #cccccc;
      margin-top: 30px;
      margin-bottom: 18px; }
    .footer__blog a {
      color: #b6b6b6;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      word-spacing: 5px;
      line-height: 1.33; }
  .footer__contact {
    border-bottom: 1px dashed #484848;
    padding-bottom: 40px; }
    .footer__contact__map {
      width: 280px;
      height: 130px;
      margin-top: 27px;
      margin-bottom: 20px; }
    .footer__contact a {
      color: #b6b6b6;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase; }
      .footer__contact a img {
        width: 5px;
        height: 9px;
        margin-left: 5px; }
      .footer__contact a:nth-of-type(2) {
        font-size: 12px;
        font-weight: bold;
        color: #aeaeae; }
    .footer__contact__name, .footer__contact__email, .footer__contact__message {
      width: 280px;
      height: 30px;
      border: solid 1px #666;
      box-sizing: border-box;
      background-color: #2a2a2a;
      color: #888;
      font-size: 12px;
      padding-left: 5px;
      margin-bottom: 10px; }
    .footer__contact__message {
      width: 280px;
      height: 100px;
      padding-bottom: 70px;
      resize: vertical; }
  .footer__email {
    border-bottom: 1px dashed #484848;
    padding-bottom: 40px; }
    .footer__email input {
      width: 280px;
      height: 50px;
      color: #888;
      font-size: 13px;
      background-color: #1f1f1f;
      border: solid 1px #666;
      box-sizing: border-box;
      padding-left: 5px;
      margin-top: 40px; }
  .footer__favorite {
    border-bottom: 1px dashed #484848;
    padding-bottom: 40px; }
    .footer__favorite__nav {
      display: flex;
      justify-content: space-between; }
      .footer__favorite__nav a {
        font-size: 17px;
        color: #b6b6b6;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 40px; }
        .footer__favorite__nav a img {
          width: 5px;
          height: 9px;
          border: #999999 solid 1px;
          border-radius: 50%;
          padding: 4px 6px; }
    .footer__favorite__products {
      display: flex;
      margin-top: 16px; }
      .footer__favorite__products a {
        text-decoration: none; }
      .footer__favorite__products__product:nth-of-type(2) {
        margin-left: 20px; }
      .footer__favorite__products__product__img {
        width: 130px;
        height: 169px;
        background-color: #ccc; }
      .footer__favorite__products__product__name {
        font-size: 12px;
        color: #888;
        margin-top: 19px; }
      .footer__favorite__products__product__price {
        color: #fff;
        font-size: 14px;
        margin-top: 15px; }
        .footer__favorite__products__product__price strike {
          color: #8c8b8b;
          margin-right: 8px; }
  .footer__twitter {
    border-bottom: 1px dashed #484848;
    padding-bottom: 40px; }
    .footer__twitter__nav {
      display: flex;
      justify-content: space-between;
      margin-top: 40px; }
      .footer__twitter__nav a {
        text-decoration: none;
        text-transform: uppercase;
        color: #b6b6b6;
        font-size: 17px; }
      .footer__twitter__nav button {
        color: #b5b5b5;
        background-color: #1f1f1f;
        box-sizing: border-box;
        border: solid 1px #b5b5b5;
        height: 23px;
        width: 70px;
        text-transform: uppercase;
        padding-bottom: 1px; }
    .footer__twitter__comment p {
      color: #888;
      font-size: 14px; }
      .footer__twitter__comment p span {
        color: #fff; }
    .footer__twitter__comment__person {
      display: flex;
      margin-top: 30px;
      margin-bottom: 23px; }
      .footer__twitter__comment__person__info {
        margin-left: 20px; }
        .footer__twitter__comment__person__info__name {
          color: #b1b1b1 !important;
          font-size: 17px !important;
          text-transform: uppercase;
          line-height: 0.97; }
        .footer__twitter__comment__person__info__teg {
          color: #777 !important;
          font-size: 13px !important; }
    .footer__twitter__comment__meta {
      display: flex;
      font-size: 13px;
      color: #666;
      margin-top: 18px; }
      .footer__twitter__comment__meta a {
        text-decoration: none;
        color: #666; }
      .footer__twitter__comment__meta__data {
        margin-right: 34px; }
      .footer__twitter__comment__meta__rep {
        margin-right: 20px; }
        .footer__twitter__comment__meta__rep img {
          height: 13px;
          width: 9px;
          margin-right: 8px; }
      .footer__twitter__comment__meta__ret img {
        width: 14px;
        height: 9px;
        margin-right: 7px; }
  .footer__facebook {
    border-bottom: 1px dashed #484848;
    padding-bottom: 40px; }
    .footer__facebook__nav {
      margin-top: 35px;
      display: flex;
      justify-content: space-between; }
      .footer__facebook__nav a {
        text-decoration: none;
        color: #b6b6b6;
        margin-top: 1px; }
      .footer__facebook__nav button {
        border: solid 1px #b5b5b5;
        background-color: #1f1f1f;
        font-size: 12px;
        color: #b5b5b5;
        width: 60px;
        height: 22px; }
    .footer__facebook p {
      margin-top: 30px;
      color: #888;
      font-size: 14px;
      letter-spacing: -0.35px; }
      .footer__facebook p span {
        color: #fff; }
    .footer__facebook__imgs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 17px; }
      .footer__facebook__imgs__img {
        width: 70px;
        height: 70px;
        border: 5px solid #2f2f2f;
        box-sizing: border-box;
        background-color: #cccccc;
        margin: 10px; }
  .footer__info {
    border-bottom: 1px dashed #484848;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px; }
    .footer__info a {
      color: #888;
      text-decoration: none;
      font-size: 14px; }
      .footer__info a:first-child {
        color: #b6b6b6;
        font-size: 17px;
        text-transform: uppercase;
        margin-top: 0; }
    .footer__info__spacer {
      height: 20px; }
      .footer__info__spacer:first-child {
        height: 34px; }
  .footer__contacts__links {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; }
    .footer__contacts__links__link {
      display: flex;
      justify-content: center;
      height: 40px;
      width: 40px;
      border: 2px #999 solid;
      box-sizing: border-box;
      align-items: center;
      margin: 3px; }
  .footer__contacts p {
    color: #666;
    font-size: 12px;
    margin-top: 20px; }
  .footer__img {
    border: solid 2px #999;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px; }
    .footer__img img {
      width: 17px;
      height: 10px;
      padding-bottom: 2px;
      padding-left: 1px; }

.nonephone {
  display: none; }

@media screen and (min-width: 768px) {
  .header {
    height: 160px; }
    .header__nav__account {
      display: flex;
      justify-content: space-between; }
      .header__nav__account__main {
        justify-content: left; }
        .header__nav__account__main a {
          margin-right: 30px;
          margin-left: 0 !important; }
          .header__nav__account__main a:nth-of-type(4) {
            display: block;
            margin-right: 0; }
      .header__nav__account__other {
        display: flex; }
      .header__nav__account a {
        margin-left: 30px; }
        .header__nav__account a:first-child {
          margin-left: 0; }
    .header__nav2 {
      display: none; }
    .header__nav3__menu {
      display: none; }
    .header__nav3__cart {
      display: none; }
    .header__nav3__full {
      display: flex;
      justify-content: space-between;
      flex-grow: 1; }
    .header__face {
      display: flex;
      justify-content: space-between;
      margin-top: 34px; }
      .header__face__sing {
        display: none; }
      .header__face__input {
        margin-top: 10px; }
        .header__face__input input {
          width: 260px;
          height: 32px; }
        .header__face__input img {
          margin-top: 9px;
          margin-left: 220px; }
      .header__face__logo {
        margin-top: 0; }

  .nonephone {
    display: block !important; }

  .content__pay {
    display: none; }
  .content__slider {
    display: block; }
  .content__posters {
    display: flex;
    justify-content: center; }
    .content__posters__hot {
      display: none;
      margin-top: 0;
      min-width: 228px;
      height: 432px; }
      .content__posters__hot a h1 {
        font-size: 17px;
        margin-top: 5px; }
      .content__posters__hot a h3 {
        font-size: 13px;
        margin-top: 5px; }
      .content__posters__hot a h2 {
        margin-top: 300px; }
      .content__posters__hot__line {
        width: 30px;
        top: 71px; }
        .content__posters__hot__line:first-of-type {
          left: 7px;
          display: block; }
        .content__posters__hot__line:nth-of-type(2) {
          right: 7px; }
    .content__posters__ex, .content__posters__lookbook, .content__posters__accessories, .content__posters__jewelry, .content__posters__news {
      margin-right: 0; }
    .content__posters__ex {
      height: 266px;
      width: 476px; }
      .content__posters__ex__border {
        width: 320px;
        height: 138px;
        margin-top: 62px; }
        .content__posters__ex__border__line {
          display: block; }
      .content__posters__ex__arrow {
        display: flex; }
      .content__posters__ex h1 {
        font-size: 26px;
        font-weight: bold; }
      .content__posters__ex h3 {
        margin-top: 35px; }
    .content__posters__lookbook {
      min-width: 228px;
      height: 328px;
      margin-top: 20px; }
      .content__posters__lookbook a h1 {
        font-size: 30px;
        padding-top: 74px; }
      .content__posters__lookbook a h2 {
        font-size: 12px; }
      .content__posters__lookbook a h3 {
        font-size: 27.5px; }
      .content__posters__lookbook a h4 {
        margin-top: 65px; }
      .content__posters__lookbook__line {
        top: 129px;
        width: 71px; }
        .content__posters__lookbook__line:first-of-type {
          left: 12px; }
        .content__posters__lookbook__line:nth-of-type(2) {
          right: 12px; }
    .content__posters__accessories, .content__posters__jewelry {
      height: 154px;
      min-width: 228px;
      margin-top: 20px; }
    .content__posters__jewelry a h1 {
      font-size: 25px; }
    .content__posters__jewelry a h2 {
      font-size: 15.5px; }
    .content__posters__jewelry a h3 {
      margin-top: 24px; }
    .content__posters__accessories__line {
      top: 60px;
      width: 30px; }
    .content__posters__accessories a h1 {
      font-size: 20px;
      padding-top: 40px; }
    .content__posters__accessories a h2 {
      font-size: 15.5px; }
    .content__posters__accessories a h3 {
      margin-top: 25px; }
    .content__posters__block2_1 {
      display: flex; }
    .content__posters__news {
      max-width: 228px;
      min-width: 228px;
      height: 162px;
      margin-top: 20px; }
      .content__posters__news a h1 {
        font-size: 26px;
        padding-top: 60px; }

  .products {
    justify-content: center;
    margin-left: 0; }
    .products__nav {
      display: flex;
      justify-content: space-evenly; }
    .products__product {
      margin-left: 20px;
      height: 435px;
      width: 228px;
      margin-bottom: 0;
      margin-right: 0; }
      .products__product:last-of-type {
        display: block; }
      .products__product__add {
        width: 228px; }
      .products__product__buttons {
        width: 228px; }
        .products__product__buttons__line {
          margin-left: 10px;
          margin-right: 10px; }
      .products__product__img {
        width: 228px;
        height: 296px; }
        .products__product__img__red, .products__product__img__blue, .products__product__img__black {
          margin-top: 260px; }
      .products__product__name {
        width: 228px;
        margin-top: 19px; }
    .products__more__line {
      min-width: 250px; }

  .clr {
    height: 1640px; }

  .footer {
    margin-top: -1640px; }
    .footer__main {
      display: flex;
      justify-content: center; }
    .footer__about, .footer__blog, .footer__contact, .footer__email {
      border-right: 1px dashed #484848;
      width: 280px;
      padding-right: 15px; }
    .footer__blog {
      margin-top: 0;
      padding-top: 40px;
      margin-bottom: 0; }
      .footer__blog__nav {
        margin-top: 0; }
    .footer__about {
      margin-top: 0;
      padding-top: 40px; }
    .footer__contact {
      padding-top: 40px; }
    .footer__favorite, .footer__twitter, .footer__facebook {
      width: 217px;
      padding-right: 15px;
      padding-left: 15px;
      border-right: 1px dashed #484848; }
    .footer__favorite__products__product:nth-of-type(2) {
      display: none; }
    .footer__favorite__products__product__img {
      width: 218px;
      height: 258px; }
    .footer__twitter {
      padding-top: 40px; }
      .footer__twitter__nav {
        margin-top: 0; }
      .footer__twitter__comment__meta {
        flex-wrap: wrap; }
        .footer__twitter__comment__meta__data {
          margin-right: 45px;
          margin-bottom: 5px; }
    .footer__facebook {
      height: 354px; }
      .footer__facebook__nav {
        margin-top: 0;
        padding-top: 35px; }
      .footer__facebook__imgs {
        margin-top: 0; }
        .footer__facebook__imgs__img {
          width: 66px;
          height: 66px;
          margin: 0;
          margin-top: 20px; }
    .footer__info {
      width: 202px;
      padding-left: 13px; }
      .footer__info:nth-of-type(3) {
        height: 270px; }
      .footer__info:nth-of-type(4) {
        height: 314px; }
    .footer__contacts p {
      margin-top: 0; }
    .footer__contacts__container {
      display: flex;
      justify-content: space-between; }
    .footer__contacts__center {
      display: flex;
      justify-content: center; }
    .footer__contacts__links {
      margin-top: 0; } }
@media screen and (min-width: 980px) {
  .header {
    height: 130px; }
    .header__nav__account__main a:nth-of-type(4) {
      display: none; }
    .header__nav__account__main a:nth-of-type(5) {
      display: block; }
    .header__nav3 {
      margin-top: 30px; }
      .header__nav3__full {
        justify-content: flex-end; }
        .header__nav3__full a {
          margin-left: 40px; }
    .header__face {
      margin-top: 11px;
      position: relative;
      display: flex;
      justify-content: end; }
      .header__face__logo {
        position: absolute;
        top: 39px;
        left: 0px; }

  .content__slider {
    height: 546px; }
    .content__slider h1, .content__slider h2, .content__slider h3, .content__slider h4 {
      margin-left: 500px; }
    .content__slider h1 {
      padding-top: 117px; }
    .content__slider .content__posters__lookbook__buttons {
      display: flex;
      margin-top: 95px; }
    .content__slider__arrow {
      top: 249px; }
  .content__posters__ex {
    height: 346px;
    width: 620px; }
    .content__posters__ex h3 {
      margin-top: 90px; }
    .content__posters__ex__arrow {
      top: 154px; }
    .content__posters__ex__border {
      margin-top: 84px; }
  .content__posters__jewelry, .content__posters__accessories, .content__posters__news {
    min-width: 300px;
    height: 203px; }
  .content__posters__accessories__line {
    width: 41px; }
  .content__posters__lookbook {
    width: 300px;
    height: 426px; }
    .content__posters__lookbook a h1 {
      padding-top: 141px; }
    .content__posters__lookbook a h4 {
      margin-top: 100px; }
    .content__posters__lookbook__line {
      height: 2px;
      top: 194px; }
      .content__posters__lookbook__line:nth-of-type(2) {
        right: 47px; }
      .content__posters__lookbook__line:first-of-type {
        left: 47px; }
  .content__posters__hot {
    width: 300px;
    height: 569px; }
    .content__posters__hot a h2 {
      margin-top: 400px; }
    .content__posters__hot a h4 {
      padding-top: 65px; }
    .content__posters__hot__line {
      width: 40px;
      top: 104px; }
      .content__posters__hot__line:first-of-type {
        left: 30px; }
      .content__posters__hot__line:nth-of-type(2) {
        right: 30px; }
  .content__posters__news a h1 {
    padding-top: 80px; }

  .products__nav {
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px; }
  .products__product {
    width: 300px;
    height: 500px; }
    .products__product__img {
      width: 300px;
      height: 390px; }
    .products__product__name {
      width: 300px; }
    .products__product__buttons {
      width: 300px; }
  .products__more__line {
    min-width: 405px; }

  .footer__about {
    width: 390px; }
    .footer__about__content__img {
      height: 170px;
      width: 170px; }
    .footer__about__content a {
      margin-left: 190px; }
  .footer__blog {
    width: 390px; }
    .footer__blog__img {
      height: 128px;
      max-width: 175px;
      min-width: 150px; }
    .footer__blog a:last-child {
      font-size: 10.5px; }
    .footer__blog__posters {
      justify-content: space-around; }
      .footer__blog__posters__post2 {
        display: block;
        margin-left: 20px; }
  .footer__contact {
    width: 390px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .footer__contact__map {
      width: 370px; }
    .footer__contact__name {
      width: 370px; }
    .footer__contact__email {
      width: 370px; }
    .footer__contact__message {
      width: 370px; }
    .footer__contact a:nth-of-type(2) {
      margin-right: 266px; }
  .footer__email {
    width: 390px;
    display: flex;
    justify-content: center; }
    .footer__email input {
      width: 370px; }
  .footer__favorite {
    width: 319px; }
    .footer__favorite__products {
      display: flex;
      justify-content: center; }
      .footer__favorite__products__product__img {
        width: 135px;
        height: 177px; }
      .footer__favorite__products__product:last-of-type {
        display: block; }
  .footer__twitter {
    width: 319px; }
  .footer__facebook {
    width: 319px;
    padding-bottom: 79px; }
    .footer__facebook__imgs {
      width: 263px; }
    .footer__facebook__center {
      display: flex;
      justify-content: center; }
  .footer__info {
    padding-bottom: 37.5px; }
    .footer__info__spacer {
      height: 10px; } }
@media screen and (min-width: 1920px) {
  .header__nav__account {
    margin-left: 374px;
    margin-right: 374px; }
  .header__face {
    margin-right: 374px; }
    .header__face__logo {
      left: 354px; }
  .header__nav3 {
    margin-right: 374px; }

  .content__slider {
    width: 1920px;
    height: 1070px; }
    .content__slider__arrow {
      top: 504px; }
    .content__slider h1 {
      padding-top: 378px; }
    .content__slider h1, .content__slider h2, .content__slider h3, .content__slider h4 {
      margin-left: 1041px; }
  .content__posters__lookbook__buttons {
    margin-top: 360px !important; } }

/*# sourceMappingURL=style.css.map */
